# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Xcode build artifacts
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Local secrets
news/Configuration.xcconfig
